body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 80px;
    color: rgb(143, 85, 95);
}

#game{
    display: block;
    text-align: center;
    margin-top: 75px;
}

span{
    position: absolute;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    margin-top: -145px;
    perspective: 1000px;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "REGLES";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(143, 85, 95);
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: #fff;
    background: rgb(143, 85, 95);
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  

#pion{
    width: 600px;
    height: 200px;
    top: 450px;
    position: absolute;
    transform: rotate(25deg);
}

#jouer{
    position: relative;
}

#circle{
    width: 600px;
	height: 600px;
}

#preserv {
    width: 600px;
    height: 600px;
    transform: rotate(-10deg);
}